body {
  font-family: "Barlow", sans-serif;
  background-color: #FFFFFF;
  height: 100%;
  position: absolute;
  min-width: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.MainContainer {
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.form {
  position: relative;
  padding-top: 30vh;
}

.genQR {
  position: relative;
  top: 20px;
}

.genQRbutton {
  font-size: 50px;
}