body {
    padding-top: 30vh;
    width: 100%
    height: 100%;
    text-align: center;
}

.row {
	position: relative;
	margin: 0 auto;
  	text-align: center;
  	height: 100%;
}

.col-md-8 {
	position: relative;
	margin: 0 auto;
  	text-align: center;
  	height: 100%;
}

#myContainer {
	margin-top: auto;
	margin-bottom: auto; 
	padding-top: 15px;
	padding-bottom: 15px;

}

.btn-group-toggle{
	position: relative;
	margin: 0 auto;
  	text-align: center;
  	height: 100%;
}

#informationCard {
	margin: 30px;
	align-content: center;
}

#locationButton{
	width: 80%;
}
